@keyframes Scroll {
    0% {
      transform: translateY(-100%);
    }
  }

  .stopanim:hover > span {
    animation-play-state: paused;
  }
  
  .scroll {
    animation: Scroll 25s linear infinite;
  }
  .scroll2 {
    animation: Scroll 12s linear infinite;
  }
  .scroll3 {
    animation: Scroll 20s linear infinite;
  }
  .scroll4 {
    animation: Scroll 15s linear infinite;
  }

  .details:hover > img {
    -webkit-filter: grayscale(100%) blur(2px);
    filter: grayscale(100%) blur(2px);
  }

  .details:hover > span {
    display: block;
  }